<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftyDataModels.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15DBD25C1BB29E90006DA750</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15DBD2731BB29E90006DA750</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15DBD27E1BB29E90006DA750</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
